@import "./bootstrap/partial-overrides/bootstrap-overrides";

body {
    font-family: "Noto Sans", sans-serif;
};
  .input-group {
    margin-bottom: 1.5rem;
  }
  .clear-div {
    clear: both;
  }
  @media (min-width: 768px) {
    .container-custom {
        width: 50%;
    margin: 0 auto;
  }
  .container-custom-2 {
    width: 70%;
    margin: 0 auto;
  }
    }