@import "./bootstrap/partial-overrides/bootstrap-overrides";

body {
    font-family: "Noto Sans", sans-serif;
};
.container-custom {
    width: 50%;
    margin: 0 auto;
  }
  .input-group {
    margin-bottom: 1.5rem;
  }
  .clear-div {
    clear: both;
  }